.App {
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 1px;
}

#clock {
    background: black;
    color: white;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 20px 0;
    margin: auto;
    margin-top: 20px;
    width: 140px;
    border-radius: 10px;
}